@page "/VirtualList"
@attribute [RenderModeInteractiveServer]

<h3>Virtual List</h3>

@* @foreach (var p in people)
{
    <p style="font-size: 26px;">
        @p.FirstName @p.LastName
    </p>
} *@
@* <Virtualize Items="people" Context="p">
    <ItemContent>
        <p style="font-size: 26px;">
            @p.FirstName @p.LastName
        </p>
    </ItemContent>
    <EmptyContent>
        <p style="font-size: 26px;">
            No Elements Found
        </p>
    </EmptyContent>
</Virtualize> *@

<table class="table table-striped" style="font-size: 26px;">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <Virtualize Items="people" Context="p" SpacerElement="tr" OverscanCount="3">
            <tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
            </tr>
        </Virtualize>
    </tbody>
</table>

@code {
    private List<PersonModel> people = new();

    protected override void OnInitialized()
    {
        for (int i = 0; i < 500; i++)
        {
            people.Add(new() { FirstName = $"First {i}", LastName = $"Last {i}" });
        }
    }
}
