@page "/TestQuickGrid"
@attribute [RenderModeInteractiveAuto]

<h3>Quick Grid</h3>

<QuickGrid Items="@people">
    <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
    <PropertyColumn Property="@(p => p.FirstName)" Sortable="true" />
    <PropertyColumn Property="@(p => p.LastName)" Sortable="true" />
    <PropertyColumn Property="@(p => p.StartDate)" Format="yyyy-MM-dd" Sortable="true" />
</QuickGrid>

@code {
    private record PersonRecord(int Id, string FirstName, string LastName, DateOnly StartDate);

    private IQueryable<PersonRecord> people = new[]
    {
        new PersonRecord(5, "Tim", "Corey", new DateOnly(2020,3,1)),
        new PersonRecord(3, "Sue", "Storm", new DateOnly(2021,4,1)),
        new PersonRecord(2, "Jane", "Smith", new DateOnly(2019,2,1)),
        new PersonRecord(1, "Bob", "Smith", new DateOnly(2018,11,1)),
        new PersonRecord(4, "Jim", "Arnold", new DateOnly(2023,8,1))
    }.AsQueryable();
}
